.img-fluid {
  max-width: auto;
  height: auto;
  top: 0;
  padding-right: 0px;
}

body{
  background-color: #f5ffff;
}
  
.header{
  padding-bottom: 10px;
}

h1{
  text-align: bottom;
}
#bottom {
  position:absolute;
  bottom:0;
  right: 0;

}
